
.wm-page-content {
  max-width: 80%;  /* or perhaps 70% or something else */
}

.wm-top-container {
	background-color: #0b132b !important; /*NALEJ dark blue*/
}

.wm-toc-li.wm-current, .wm-toc-li.wm-current:hover {
  background-color: #3f41ff; /*pink: #ff00d3*/
  color: white;
}

.wm-top-logo {
  max-height: 80%;
}

.wm-page-content a {
  color: #3f41ff;/*pink: #ff00d3*/
}