
.wm-page-content {
  max-width: 80%;  /* or perhaps 70% or something else */
}

.navbar {
	background-color: #444 !important;
}

.wm-toc-li.wm-current, .wm-toc-li.wm-current:hover {
  background-color: #ff00d3;
  color: white;
}

.wm-top-logo {
  max-height: 80%;
}