
.wm-page-content {
  max-width: 80%;  /* or perhaps 70% or something else */
}

.navbar {
	background-color: #ff00d3 !important;
}

.wm-top-tool-expanded {
  background-color: #ff00d3;
}

.wm-toc-li.wm-current, .wm-toc-li.wm-current:hover {
  background-color: #ff00d3;
  color: white;
}
